<div class="col-9 contenido float-right mt-5">
    <h2 class="mr-5 mt-4"><span class="icono-eye mr-3"></span>Novedades</h2>
    <p class="text-secondary">Disfruta de los últimos juegos añadidos a la página ;)</p>

    <h4 class="mt-5">Últimas publicaciones</h4>
    <div> <!-- Div que contiene cada uno de los divs juegos -->
        <div class="caratula caratulaimagen" style="background-image: url('../../../assets/juegos/isaac.jpg');">
            <div class="caratula">
                <div class="spanjuego"></div>
                <h5>The Binding of Isaac</h5>
                <p class="text-secondary">Acción</p>
                <p class="text-warning m-0 p-0 d-flex flex-row-reverse fs-4">15€</p>
            </div>
        </div>
    </div>

    <footer class="section_footer">
        <div class="pagination">
            <button class="pagination_btn">Atrás</button>
            <button class="pagination_btn">1</button>
            <button class="pagination_btn">2</button>
            <button class="pagination_btn">3</button>
            <button class="pagination_btn">4</button>
            <button class="pagination_btn">Siguiente</button>
        </div>
    </footer>
</div>