<div class="col-9 contenido float-right mt-5">
    <h2 class="mr-5 mt-4"><span class="icono-play"></span>Juegos</h2>
    <div>
        <div class="row mt-3">
            <div class="col-2 list-group-item active border border-success">
                <p>Nombre del juego</p>
            </div>
            <div class="col-5 list-group-item active border border-success">
                <p>Descripción</p>
            </div>
            <div class="col-1 list-group-item active border border-success">
                <p>Precio</p>
            </div>
            <div class="col-1 list-group-item active border border-success">
                <p>Stock</p>
            </div>
            <div class="col-1 list-group-item active border border-success">
                <p>Categoría</p>
            </div>
        </div>
        <div  *ngFor="let juego of listajuegos; let i = index" class="row mt-2">
            <div class="col-2 border-bottom border-secondary">
                <p>{{juego.nombre}}</p>
            </div>
            <div class="col-5 border-bottom border-secondary">
                <p>{{juego.descripcion}}</p>
            </div>
            <div class="col-1 border-bottom border-secondary">
                <p>{{juego.precio}}€</p>
            </div>
            <div class="col-1 border-bottom border-secondary">
                <p>{{juego.stock}}</p>
            </div>
            <div class="col-1 border-bottom border-secondary">
                <p>{{juego.nombrecategoria}}</p>
            </div>
            <div class="col-2 border-bottom border-secondary">
                <button class="btn btn-danger pagination_btn mt-1">Eliminar</button>
                <button class="btn anadir pagination_btn mt-1 ml-3">Modificar</button>
            </div>
        </div>
        <div class="row mt-3 justify-content-end">
            <div class="col-2">
                <button class="btn nuevojuego pagination_btn mt-1 mr-5">Añadir juego</button>
            </div>
        </div>
    </div>
</div>