<div class="col-9 contenido float-right mt-5">
    <h2 class="mr-5 mt-4"><span class="icono-search mr-4"></span>Resultados de la busqueda: isaac</h2>
    <p class="text-secondary mb-5">Estos son los resultados de tu busqueda</p>
    <div> <!-- Div que contiene cada uno de los divs juegos -->
        <div class="caratula caratulaimagen" style="background-image: url('../../../assets/juegos/isaac.jpg');">
            <div class="caratula">
                <div class="spanjuego"></div>
                <h5>The Binding of Isaac</h5>
                <p class="text-secondary">Acción</p>
                <p class="text-warning m-0 p-0 d-flex flex-row-reverse fs-4">15€</p>
            </div>
        </div>
    </div>
</div>