<div class="col-lg-9 col-md-8 col-8 contenido float-right mt-5">
    <h2 class="mr-5 mt-4"><span class="icono-search mr-4"></span>Categoría: {{categoria.nombre}}</h2>
    <p class="text-secondary mb-5">{{categoria.descripcion}}</p>
    <div class="row container-fluid">
        <div *ngFor="let juego of listajuegos" class="container-fluid encapsulacion col-9 col-md-6 col-lg-4 col-xl-2"  routerLink="/juego/{{juego.id}}">
            <div class="caratula caratulaimagen img-fluid" style="background-image: url('../../../assets/juegos/{{juego.imagen}}');">
                <div class="caratula img-fluid">
                    <div class="infojuego img-fluid">
                        <h5>{{juego.nombre}}</h5>
                        <p class="text-secondary">{{juego.nombrecategoria}}</p>
                        <p class="text-warning p-1 preciojuego fs-4">{{juego.precio}}€</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="noHayJuegos || listajuegos.length == 0">
        <p class="m-3">{{this.notificarError.title}}</p>
    </div>
</div>