@keyframes ampliar {
    0% {transform: scale(1.0);}
    50% {transform: scale(1.2);}
    0% {transform: scale(1.0);}
}

.juegocarrito {
margin: 40px 30px;
}

.juegocarritotext {
margin: 15px 40px;
} 

.footercarrito {
position: relative;
top: 30px;
}

.comprarboton {
background-color: #f1601c !important;
color: white !important;
border-radius: 7px;
}

.comprarboton:hover {
background-color: #4BA5FF !important;
text-decoration: none;
color: white !important;
border-radius: 7px;
}

.preciototal {
margin-right: 25px;
padding-bottom: 0px;
margin-bottom: 0px;
margin-top: 20px;
}

.sectioncarritofinal {
display: inline-block;
/*float: right;*/
margin-right: 20%;
}

.caratula {
	width: 200px;
	height: 300px;
	/*box-shadow: 0px 4px 5px 6px black;*/
	background: linear-gradient(0deg, rgb(6, 11, 29) 0%, rgba(6, 11, 29,0.4) 50%, rgba(0,0,0,0) 100%);
	box-shadow:
    6px 7px 8px 3px rgba(0,0,0,0.68),
    inset #333 0 0 0 1px,
    inset rgba(255,255,255, 0.5) 0 0 0 1px;
}

.caratula:hover {
	animation: ampliar 3s;
}

.caratula h5, p {
	margin: 0px;
	margin: 0px 3px;
}

.caratulaimagen {
	background-size: cover;
}

.spanjuego {
	height: 60%;
}

.contenido {
	background-color: rgba(67, 89, 142, 0.35);
	border-radius: 7px;
	padding: 17px;
  right: 100px;
}

.contenidointerior {
  background-color: rgba(57, 79, 130, 0.35);
  border-radius: 7px;
  padding: 15px;
  margin-right: 20px;
}

.row {
	background-color: rgb(6, 11, 29);
    height: 100%;
}

.span6 {
    height: 38px;
}

html {
	overflow-x:hidden;
	background-color: rgb(6, 11, 29);
}

h2, p, h4, h5 {
	color: white;
}

.pagination_btn {
    color: #fff;
    cursor: pointer;
    padding: .5rem .8rem;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 1rem;
    width: auto;
    color: white;
    border: 0;
}

.pagination_btn:hover {
	background-color: #f1601c !important;
    color: #fff;
    -webkit-box-shadow: 0 0 10px var(--color-primary);
    box-shadow: 0 0 10px var(--color-primary);
}

.pagination_btn:active {
	background-color: #f1601c;
}

.section_footer {
	margin-top: 3rem;
	align-items: center;
	text-align: center;
}

.diferenciar-nav {
	border-bottom: solid 1px #444;
	padding: 14px 0px; 
}