<div class="col-9 contenido float-right mt-5">
    <h2 class="mr-5 mt-4"><span class="icono-cart"></span>Carrito</h2>
    <p class="text-secondary">Estos son los productos que quieres comprar</p>

    <div> <!-- Div que contiene cada uno de los divs juegos -->
        <div *ngFor="let juego of listajuegos; let i = index" class="d-flex juegocarrito flex-row w-100 mb-4 pb-5">
            <div class="caratula caratulaimagen" style="background-image: url('../../../assets/juegos/{{juego.imagen}}');">
                <div class="caratula">
                    <div class="spanjuego"></div>
                </div>
            </div>
            <div class="w-100">
                <div class="w-75">
                    <h4 class="juegocarritotext" routerLink="/juego/{{juego.id}}">{{juego.nombre}}</h4>
                    <p class="juegocarritotext">{{juego.descripcion}}</p>
                </div>
                <footer class="section_footer footercarrito">
                    <p class="text-secondary d-flex flex-row juegocarritotext">{{juego.nombrecategoria}}</p>
                    <p class="ml-5 pl-5 fs-4 text-center juegocarritotext">Cantidad: {{juego.cantidad}}</p>
                    <p class="text-warning ml-5 pl-5 fs-4 text-center juegocarritotext">{{juego.precio}}€</p>
                    <button (click)="eliminarcarrito(juego.id)" class="btn btn-danger pagination_btn">Eliminar del carrito</button>
                </footer>
            </div>
        </div>
        <div class="w-100 mt-4 d-flex justify-content-center">
            <div class="span6 diferenciar-nav w-50 text-center">
            </div>
        </div>
    </div>
    <div *ngIf="noHayCarrito || listajuegos.length == 0">
        <p class="m-4">{{this.notificarError.title}}</p>
    </div>
    <div class="d-flex flex-row juegocarrito sectioncarritofinal float-right" *ngIf="listajuegos.length != 0">
        <p class="preciototal">Coste total: {{preciocarrito}}€</p>
        <a class="comprarboton"><button data-toggle="modal" data-target="#modalcompra" class="btn comprarboton">Comprar ahora</button></a>
    </div>
</div>

<div class="modal fade" id="modalcompra" data-backdrop="false" >
    <div class="modal-dialog">
      <div class="modal-content caratula w-100">
        <div class="modal-header contenidologin">
          <h3 class="modal-title text-white">Estas a punto de realizar la compra</h3>
          <button type="button" class="close rounded-circle" data-dismiss="modal"><span class="icono-cross"></span></button>
        </div>
        <div *ngIf="!noHayCarrito; else nopuedes" class="modal-header contenidologin d-block">
            <div class="d-flex flex-row juegocarrito sectioncarritofinal float-left">
                <p class="preciototal">El coste total es de: {{preciocarrito}}€</p>
            </div>
            <div class="d-flex flex-row juegocarrito sectioncarritofinal float-right">
                <a class="comprarboton"><button (click)="realizarCompra()" class="btn comprarboton">Confirmar compra</button></a>
            </div>       
        </div>
        <ng-template #nopuedes>
            <div class="modal-header contenidologin d-block">
                <div class="d-flex flex-row juegocarrito sectioncarritofinal float-left">
                    <p class="preciototal">{{this.notificarError.title}}</p>
                </div>      
            </div>
        </ng-template>
        <div class="modal-footer contenidologin">
            <button type="button" class="btn btn--transparent btn--font-12 menu-icon ion-navicon-round list-inline-item d-flex flex-row-reverse botonlogin">
                <div class="list-inline-item float-right color-icons footercarrito">
                    <div *ngIf="!noHayCarrito; else nopuedesbotton">
                        <p class="btn btn-danger list-inline-item float-right text-white px-2 mx-1 mt-1 mb-0 interiorbotonlogin" data-dismiss="modal">No estoy seguro</p>
                    </div>
                    <ng-template #nopuedesbotton>
                        <p class="btn btn-danger list-inline-item float-right text-white px-2 mx-1 mt-1 mb-0 interiorbotonlogin" data-dismiss="modal">¡Perfecto!</p>
                    </ng-template>
                </div>
            </button>
        </div>
      </div>
    </div>
  </div>