<div class="col-9 contenido float-right mt-5">
    <div *ngIf="juegoboolean" class="d-flex flex-row juegocarrito">
        <div>
            <div class="caratulajuego caratulaimagenjuego" style="background-image: url('../../../assets/juegos/{{juego.imagen}}');">
                <div class="caratulajuego">
                    <div class="spancaratulajuego"></div>
                </div>
            </div>
            <div class="w-100 botones">
                <button (click)="anadirdeseo()" class="btn anadir w-100 mb-1 popover-warning" placement="right" ngbPopover="{{notificarPopover}}">Añadir a lista de deseos</button>
                <button class="btn anadir w-100">Añadir al carrito</button>
            </div>
        </div>
        <div>
            <div class="w-75">
                <h2 class="juegocarritotext ml-5 pl-5">{{juego.nombre}}</h2>
                <p class="juegocarritotext pb-3">{{juego.descripcion}}</p>
                <h4 class="juegocarritotext mt-5">Puntuación de los usuarios</h4>
                <div class="estrellas d-flex flex-row mr-5">
                    <i class="fa fs-4 fa-star checked d-flex flex-row ml-5"></i>
                    <p class="fs-1 d-flex flex-row notadejuego">8</p>
                    <p class="fs-9 d-flex flex-row notamaxima">/ 10</p>
                    <p class="juegocarritotext pb-3 d-flex flex-row totalvotos"> 4 voto/s</p>
                </div>
            </div>
            <footer class="section_footer footercarrito">
                <p class="text-secondary fs-4 d-flex flex-row juegocarritotext">{{juego.nombrecategoria}}</p>
                <p class="text-warning fs-1 mr-5 pr-5 text-right juegocarritotext">{{juego.precio}}</p>
            </footer>
        </div>
    </div>
    <div class="w-100 d-flex justify-content-center">
        <div class="span6 diferenciar-nav w-50 text-center">
        
        </div>
    </div>
</div>
    
<app-valoracion></app-valoracion>