<div class="col-9 contenido float-right mt-5">
    <h2 class="mr-5 mt-4"><span class="icono-user"></span>Usuarios</h2>
    <div>
        <div class="row mt-3">
            <div class="col-2 list-group-item active border border-success">
                <p>Nickname</p>
            </div>
            <div class="col-4 list-group-item active border border-success">
                <p>Nombre completo</p>
            </div>
            <div class="col-2 list-group-item active border border-success">
                <p>Correo electrónico</p>
            </div>
            <div class="col-2 list-group-item active border border-success">
                <p>Dirección</p>
            </div>
        </div>
        <div *ngFor="let usuario of listaUsuarios; let i = index" class="row mt-2">
            <div class="col-2 border-bottom border-secondary">
                <p [ngClass]="usuario.admin ? 'administrador' : 'none'">{{usuario.nombre}}</p>
            </div>
            <div class="col-4 border-bottom border-secondary">
                <p [ngClass]="usuario.admin ? 'administrador' : 'none'">{{usuario.nombre}} {{usuario.apellidos}}</p>
            </div>
            <div class="col-2 border-bottom border-secondary">
                <p [ngClass]="usuario.admin ? 'administrador' : 'none'">{{usuario.email}}</p>
            </div>
            <div class="col-2 border-bottom border-secondary">
                <p [ngClass]="usuario.admin ? 'administrador' : 'none'">{{usuario.direccion}}</p>
            </div>
            <div class="col-2 border-bottom border-secondary">
                <button class="btn anadir pagination_btn mt-1 ml-3" (click)="usuarioamodificar(usuario)" data-toggle="modal" data-target="#modificarusuario">Modificar</button>
            </div>
        </div>
        <div class="row mt-3 justify-content-end">
            <div class="col-2">
                <button class="btn nuevojuego pagination_btn mt-1 mr-5" data-toggle="modal" data-target="#signinadmin">Añadir usuario</button>
            </div>
        </div>

        <div class="modal fade" id="modificarusuario">
            <div class="modal-dialog">
              <div class="modal-content caratula w-100">
                <div class="modal-header contenidologin">
                  <h3 class="modal-title text-white">Modificar usuario</h3>
                  <button type="button" class="close rounded-circle" id="cerrarAnadir" data-dismiss="modal"><span class="icono-cross"></span></button>
                </div>
                <div class="modal-header contenidologin">
                  <form class="w-100" role="form" (ngSubmit)="modificarusuario()" #modificarUsuario="ngForm" id="modificarUsuario">
                    <!--<div *ngIf="errorlogin" class="bg-danger alert-dismissible fade show">
                      <p>{{notificarError.title}}</p>
                    </div> -->
                    <div class="form-group">
                        <label name="correo2" class="text-white">Correo electrónico</label>
                        <input type="text" [(ngModel)]="usuariomodificar.email" class="form-control" placeholder="example@correo.es" name="email2" id="email2" required/>
                        <label name="nombre2" class="text-white">Nombre</label>
                        <input type="text" [(ngModel)]="usuariomodificar.nombre" class="form-control" name="nombre2" id="nombre2" required/>
                        <label name="apellidos" class="text-white">Apellidos</label>
                        <input type="text" [(ngModel)]="usuariomodificar.apellidos" class="form-control" name="apellidos" id="apellidos" required/>
                        <label name="direccion" class="text-white">Dirección</label>
                        <input type="text" [(ngModel)]="usuariomodificar.direccion" class="form-control" placeholder="Calle El Ejemplo, 25" name="direccion" id="direccion" required/>
                        <button type="submit" form="modificarUsuario" class="btn btn-warning btn-block pagination_btn">Modificar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
        <div class="modal fade" id="signinadmin">
            <div class="modal-dialog">
              <div class="modal-content caratula w-100">
                <div class="modal-header contenidologin">
                  <h3 class="modal-title text-white">Nuevo usuario</h3>
                  <button type="button" class="close rounded-circle" data-dismiss="modal"><span class="icono-cross"></span></button>
                </div>
                <div class="modal-header contenidologin">
                  <form role="form" (ngSubmit)="signinusuario()" #signinform="ngForm" id="signinform">
                    <div *ngIf="errorlogin"class="warning alert-warning alert-dismissible fade show">
                      <p>{{notificarError.title}}</p>
                    </div>
                    <div class="form-group">
                        <label name="correo2" class="text-white">Correo electrónico</label>
                        <input type="text" [(ngModel)]="usuarioregistrar.email" class="form-control" placeholder="example@correo.es" name="email2" id="email2" required/>
                        <label name="nombre2" class="text-white">Nombre</label>
                        <input type="text" [(ngModel)]="usuarioregistrar.nombre" class="form-control" name="nombre2" id="nombre2" required/>
                        <label name="apellidos" class="text-white">Apellidos</label>
                        <input type="text" [(ngModel)]="usuarioregistrar.apellidos" class="form-control" name="apellidos" id="apellidos" required/>
                        <label name="direccion" class="text-white">Dirección</label>
                        <input type="text" [(ngModel)]="usuarioregistrar.direccion" class="form-control" placeholder="Calle El Ejemplo, 25" name="direccion" id="direccion" required/>
                        <label class="mt-3 text-white" name="password">Contraseña</label>
                        <input type="password" [(ngModel)]="usuarioregistrar.password" class="form-control" name="password" id="password2" required/>
                        <label class="mt-3 text-white" name="password3">Repite la contraseña</label>
                        <input type="password" [(ngModel)]="repitecontrasena" class="form-control" id="password3" required/>
                        <input type="checkbox" (change)="cambiaradmin()" id="admin" name="admin">
                        <label class="mt-3 text-white" for="admin"> Admin</label>
                        <br/>
                        <button type="submit" form="signinform" class="btn btn-warning btn-block pagination_btn">Regístrate</button>
                      </div>
                  </form>
                </div>
                <div *ngIf="registroexitoso" class="modal-header contenidologin">
                  <div class="modal-header contenidologin">
                    <p>Registrado con exito!</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>