<div class="conteiner topbar color-menus">
    <header class="header wrapper list-inline">
        <div class="row">
            <div class="col-3 pull-left color-menus">
                <div class="pull-left ml-0 list-inline">
                    <a routerLink="/">
                        <img src="../../../../assets/logo.png" class="icon w-25 h-25 ml-0 list-inline-item logo">
                    </a>
                </div>	
            </div>
            <div class="col-9 d-flex flex-row-reverse color-menus">
                <div class="ml-0 w-50 h-50 list-inline d-flex flex-row-reverse">
                    <div *ngIf="logeado; else noLogeado">
                        <button type="button" class="btn btn--transparent btn--font-12 menu-icon ion-navicon-round list-inline-item d-flex flex-row-reverse botonlogin">
                            <div class="icono-user list-inline-item interiorbotonlogin"></div>
                            <p class="list-inline-item float-right text-white px-2 mx-1 mt-1 mb-0 interiorbotonlogin">Buenas <a class="link-danger" routerLink="/usuario">{{nombreusuario}}</a>, <a class="cerrarsesion" (click)="cerrarsesion()">cerrar sesión</a></p>
                        </button>
                    </div>
                    <ng-template #noLogeado>
                        <button type="button" class="btn btn--transparent btn--font-12 menu-icon ion-navicon-round list-inline-item d-flex flex-row-reverse botonlogin" data-toggle="modal" data-target="#login">
                            <div class="icono-user list-inline-item interiorbotonlogin"></div>
                            <p class="list-inline-item float-right text-white px-2 mx-1 mt-1 mb-0 interiorbotonlogin">Iniciar sesión</p>
                        </button>
                    </ng-template>
                </div>
            </div>
        </div>
    </header>
</div>
<app-login></app-login>