<div class="col-lg-9 col-md-8 col-8 contenido float-right mt-5">
    <h2 class="mr-5 mt-4"><span class="icono-dribbble"></span>Juegos en camino</h2>
    <p class="text-secondary">Estos juegos llegarán a tu casa en menos de 3 días</p>

    <div> <!-- Div que contiene cada uno de los divs juegos -->
        <div *ngFor="let pedido of pedidosCamino; let i = index" class="d-block d-lg-flex juegocarrito flex-lg-row w-100 mb-5 separador">
            <div class="caratula caratulaimagen d-block d-lg-flex img-center ml-5" style="background-image: url('../../../assets/juegos/{{pedido.producto.imagen}}');">
                <div class="caratula">
                    <div class="spanjuego"></div>
                </div>
            </div>
            <div class="w-100 d-block d-lg-inline">
                <div class="w-75">
                    <h4 class="d-block d-lg-flex juegocarritotext">{{pedido.producto.nombre}}</h4>
                    <p class="d-block d-lg-flex juegocarritotext">{{pedido.producto.descripcion}}</p>
                </div>
                <footer class="section_footer footercarrito">
                    <p class="text-secondary d-flex flex-row juegocarritotext">{{pedido.producto.nombrecategoria}}</p>
                    <p class="ml-5 pl-5 fs-4 text-center juegocarritotext">Cantidad: {{pedido.cantidad}}</p>
                    <p class="text-warning mr-5 pr-5 fs-4 text-right juegocarritotext">{{pedido.producto.precio}}€</p>
                    <p class="mr-5 pr-5 fs-5 text-right juegocarritotext w-100 fecha">Fecha de compra: {{pedido.pedido.fecha}}</p>
                    <div *ngIf="pedido.devuelto">
                        <p class="btn btn-danger float-right mr-5">Devuelto</p>
                    </div>
                    <div *ngIf="!pedido.devuelto">
                        <button (click)="devolverPedido(pedido)" class="btn btn-danger pagination_btn float-right mr-5">Cancelar pedido</button>
                    </div>
                </footer>
            </div>
        </div>
        <div *ngIf="noHayJuegosCamino || pedidosCamino.length == 0">
            <p>{{this.notificarErrorCamino.title}}</p>
        </div>
        <div class="w-100 d-flex justify-content-center">
            <div class="span6 diferenciar-nav w-50 text-center">
            
            </div>
        </div>
    </div>
</div>

<div class="col-lg-9 col-md-8 col-8 contenido float-right mt-5">
    <h2 class="mr-5 mt-4"><span class="icono-dribbble"></span>Juegos en fase de devolución</h2>
    <p class="text-secondary">Tienes 15 días desde la fecha de compra para poder devolver estos juegos</p>

    <div> <!-- Div que contiene cada uno de los divs juegos -->
        <div *ngFor="let pedido of pedidosDevolucion; let i = index" class="d-block d-lg-flex juegocarrito flex-lg-row w-100 mb-5 separador">
            <div class="caratula caratulaimagen d-block d-lg-flex img-center ml-5" style="background-image: url('../../../assets/juegos/{{pedido.producto.imagen}}');">
                <div class="caratula">
                    <div class="spanjuego"></div>
                </div>
            </div>
            <div class="w-100 d-block d-lg-inline">
                <div class="w-75">
                    <h4 class="d-block d-lg-flex juegocarritotext">{{pedido.producto.nombre}}</h4>
                    <p class="d-block d-lg-flex juegocarritotext">{{pedido.producto.descripcion}}</p>
                </div>
                <footer class="section_footer footercarrito">
                    <p class="text-secondary d-flex flex-row juegocarritotext">{{pedido.producto.nombrecategoria}}</p>
                    <p class="ml-5 pl-5 fs-4 text-center juegocarritotext">Cantidad: {{pedido.cantidad}}</p>
                    <p class="text-warning mr-5 pr-5 fs-4 text-right juegocarritotext">{{pedido.producto.precio}}€</p>
                    <p class="mr-5 pr-5 fs-5 text-right juegocarritotext w-100 fecha">Fecha de compra: {{pedido.pedido.fecha}}</p>
                    <div *ngIf="pedido.devuelto">
                        <p class="btn btn-danger float-right mr-5">Devuelto</p>
                    </div>
                    <div *ngIf="!pedido.devuelto">
                        <button (click)="devolverPedido(pedido)" class="btn btn-danger pagination_btn float-right mr-5">Devolver</button>
                    </div>
                </footer>
            </div>
        </div>
        <div *ngIf="noHayJuegosCamino || pedidosCamino.length == 0">
            <p>{{this.notificarErrorCamino.title}}</p>
        </div>
        <div class="w-100 d-flex justify-content-center">
            <div class="span6 diferenciar-nav w-50 text-center">
            
            </div>
        </div>
    </div>
</div>

<div class="col-lg-9 col-md-8 col-8 contenido float-right mt-5">
    <h2 class="mr-5 mt-4"><span class="icono-dribbble"></span>Juegos adquiridos</h2>
    <p class="text-secondary">Estos juegos están comprados desde hace más de 15 días</p>

    <div> <!-- Div que contiene cada uno de los divs juegos -->
        <div *ngFor="let pedido of pedidosSinDevolucion; let i = index" class="d-block d-lg-flex juegocarrito flex-lg-row w-100 mb-5 separador">
            <div class="caratula caratulaimagen d-block d-lg-flex img-center ml-5" style="background-image: url('../../../assets/juegos/{{pedido.producto.imagen}}');">
                <div class="caratula">
                    <div class="spanjuego"></div>
                </div>
            </div>
            <div class="w-100 d-block d-lg-inline">
                <div class="w-75">
                    <h4 class="d-block d-lg-flex juegocarritotext">{{pedido.producto.nombre}}</h4>
                    <p class="d-block d-lg-flex juegocarritotext">{{pedido.producto.descripcion}}</p>
                </div>
                <footer class="section_footer footercarrito">
                    <p class="text-secondary d-flex flex-row juegocarritotext">{{pedido.producto.nombrecategoria}}</p>
                    <p class="ml-5 pl-5 fs-4 text-center juegocarritotext">Cantidad: {{pedido.cantidad}}</p>
                    <p class="text-warning mr-5 pr-5 fs-4 text-right juegocarritotext">{{pedido.producto.precio}}€</p>
                    <p class="mr-5 pr-5 fs-5 text-right juegocarritotext w-100 fecha">Fecha de compra: {{pedido.pedido.fecha}}</p>
                </footer>
            </div>
        </div>
        <div *ngIf="noHayJuegosCamino || pedidosCamino.length == 0">
            <p>{{this.notificarErrorCamino.title}}</p>
        </div>
        <div class="w-100 d-flex justify-content-center">
            <div class="span6 diferenciar-nav w-50 text-center">
            </div>
        </div>
    </div>
</div>