<div class="col-9 contenido float-right mt-5">
    <h2 class="mr-5 mt-4"><span class="icono-dribbble"></span>Juegos adquiridos</h2>
    <p class="text-secondary">Estos son los juegos que tu has comprado en nuestra tienda</p>

    <div> <!-- Div que contiene cada uno de los divs juegos -->
        <div class="d-flex flex-row juegocarrito">
            <div class="caratula caratulaimagen" style="background-image: url('../../../assets/juegos/isaac.jpg');">
                <div class="caratula">
                    <div class="spanjuego"></div>
                </div>
            </div>
            <div>
                <div class="w-75">
                    <h4 class="juegocarritotext">The Binding of Isaac</h4>
                    <p class="juegocarritotext">Esto es una descripcion de prueba firhghfdh rgr mgh h h hthtrhtjhrtjh d fh hthtrjhh ht hth th tyht hj tjh trjh th tjht jt hrtte ht ht ht hrt ht ht ht ht ht yht htr h</p>
                </div>
                <footer class="section_footer footercarrito">
                    <p class="text-secondary d-flex flex-row juegocarritotext">Acción</p>
                    <p class="text-warning mr-5 pr-5 fs-4 text-right juegocarritotext">15€</p>
                    <button class="btn btn-danger pagination_btn">Devolución</button>
                </footer>
            </div>
        </div>
        <div class="w-100 d-flex justify-content-center">
            <div class="span6 diferenciar-nav w-50 text-center">
            
            </div>
        </div>
    </div>
</div>