<div class="col-9 contenido float-right mt-5 igualar">
    <div class="d-flex flex-row juegocarrito">
        <span class="icono-disqus d-flex flex-row separar"></span>
        <h2 class="d-flex flex-row separar">Valoraciones de los usuarios</h2>
    </div>
    <p class="text-secondary">Aqui podrás valorar este juego y ver las valoraciones de otros usuarios</p>
    <div class="d-flex justify-content-center">
        <div class="w-75 section_footer contenidointerior">
            <form action="/">
                <div class='rating-stars text-center'>
                    <ul id='stars'>
                      <li class='star' title='Poor' data-value='1'>
                        <i class='fa fa-star fa-fw'></i>
                      </li>
                      <li class='star' title='Fair' data-value='2'>
                        <i class='fa fa-star fa-fw'></i>
                      </li>
                      <li class='star' title='Good' data-value='3'>
                        <i class='fa fa-star fa-fw'></i>
                      </li>
                      <li class='star' title='Excellent' data-value='4'>
                        <i class='fa fa-star fa-fw'></i>
                      </li>
                      <li class='star' title='WOW!!!' data-value='5'>
                        <i class='fa fa-star fa-fw'></i>
                      </li>
                    </ul>
                </div>
                <textarea rows="3" placeholder="Escribe aqui tu comentario sobre el juego" class="w-100"></textarea>
            </form>
        </div>
    </div>
    <div class="valoraciones section_footer contenidointerior separar">
        <div class="d-flex flex-row">
            <div class="border border-warning">
                <span class="icono-smile d-flex flex-row mr-5"></span>
            </div>
            <p class="fs-5">Miguel Ángel Baco</p>
            <div class='rating-stars text-center'>
                <ul id='stars'>
                  <li class='star otravals' title='Poor' data-value='1'>
                    <i class='fa otraval fa-star fa-fw'></i>
                  </li>
                  <li class='star otravals' title='Fair' data-value='2'>
                    <i class='fa otraval fa-star fa-fw'></i>
                  </li>
                  <li class='star otravals' title='Good' data-value='3'>
                    <i class='fa otraval fa-star fa-fw'></i>
                  </li>
                  <li class='star otravals' title='Excellent' data-value='4'>
                    <i class='fa otraval fa-star fa-fw'></i>
                  </li>
                  <li class='star otravals' title='WOW!!!' data-value='5'>
                    <i class='fa otraval fa-star fa-fw'></i>
                  </li>
                </ul>
            </div>
        </div>
        <div class="row contenidointerior text-left mt-2">
            <div>
                <p>Este juego me ha encantado, me ha parecido de los mejores juegos que he tenido en mivida me ha flipado comprarlo es increible, pagaría 60 pavos por él</p>
            </div>
        </div>
    </div>
  </div>