<div class="col-lg-9 col-md-8 col-8 contenido float-right mt-5 igualar">
    <div class="d-flex flex-row juegocarrito">
        <span class="icono-disqus d-flex flex-row separar"></span>
        <h2 class="d-flex flex-row separar">Valoraciones de los usuarios</h2>
    </div>
    <p class="text-secondary">Aqui podrás valorar este juego y ver las valoraciones de otros usuarios</p>
    <div>
      <div *ngIf="errorNuevaVal" class="d-flex justify-content-center text-center w-75 bg-danger alert-dismissible fade show">
        <p>{{notificarErrorNuevaVal.title}}</p>
      </div>
      <div class="d-flex justify-content-center">
          <div class="w-75 section_footer contenidointerior">
              <form role="form" (ngSubmit)="enviarValoracion()" #newValoracion="ngForm" id="newValoracion">
                  <div class='rating-stars text-center'>
                      <ul id='stars'>
                        <li class='star' title='Poor' data-value='1' (click)="valoracion(1)">
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Fair' data-value='2' (click)="valoracion(2)">
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Good' data-value='3' (click)="valoracion(3)">
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Excellent' data-value='4' (click)="valoracion(4)">
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='WOW!!!' data-value='5' (click)="valoracion(5)">
                          <i class='fa fa-star fa-fw'></i>
                        </li>
                      </ul>
                  </div>
                  <textarea name="comentario" [(ngModel)]="valoracionUsuario.comentario" [formControl]="comentarioUsuario" rows="3" placeholder="Escribe aqui tu comentario sobre el juego" class="w-100" required></textarea>
                  <button type="submit" form="newValoracion" class="btn anadir pagination_btn float-right">Enviar valoración</button>
              </form>
          </div>
      </div>
    </div>
    <div *ngFor="let valoracion of valoraciones; let i = index" class="valoraciones section_footer contenidointerior separar">
        <div class="d-flex flex-row">
            <div>
                <span *ngIf="valoracion.puntuacion > 2" class="icono-smile d-flex flex-row mr-2 ml-2"></span>
                <span *ngIf="valoracion.puntuacion < 3" class="icono-frown d-flex flex-row mr-2 ml-2"></span>
            </div>
            <p class="fs-5">{{valoracion.usuario.nombre}} {{valoracion.usuario.apellidos}}</p>
            <div class='rating-stars text-center ml-2 mt-1'>
                <ul id='stars{{i}}'>
                  <li class='star otravals' title='Poor' data-value='1'>
                    <i class='fa otraval fa-star fa-fw'></i>
                  </li>
                  <li class='star otravals' title='Fair' data-value='2'>
                    <i class='fa otraval fa-star fa-fw'></i>
                  </li>
                  <li class='star otravals' title='Good' data-value='3'>
                    <i class='fa otraval fa-star fa-fw'></i>
                  </li>
                  <li class='star otravals' title='Excellent' data-value='4'>
                    <i class='fa otraval fa-star fa-fw'></i>
                  </li>
                  <li class='star otravals' title='WOW!!!' data-value='5'>
                    <i class='fa otraval fa-star fa-fw'></i>
                  </li>
                </ul>
            </div>
        </div>
        <div class="row contenidointerior text-left mt-2 ml-2">
            <div>
                <p>{{valoracion.comentario}}</p>
            </div>
        </div>
    </div>
    <div *ngIf="errorValoraciones" class="valoraciones section_footer contenidointerior separar">
      <div class="row contenidointerior text-left mt-2 ml-2">
        <div>
            <p>{{notificarErrorValoraciones.title}}</p>
        </div>
      </div>
    </div>
  </div>