<div class="col-9 contenido float-right mt-5">
    <h2 class="mr-5 mt-4"><span class="icono-tag"></span>Categorías</h2>
    <div>
        <div class="row mt-3">
            <div class="col-3 list-group-item active border border-success">
                <p>Nombre de la categoría</p>
            </div>
            <div class="col-7 list-group-item active border border-success">
                <p>Descripción</p>
            </div>
        </div>
        <div *ngFor="let categoria of listacategorias;" class="row mt-2">
            <div class="col-3 border-bottom border-secondary">
                <p>{{categoria.nombre}}</p>
            </div>
            <div class="col-7 border-bottom border-secondary">
                <p>{{categoria.descripcion}}</p>
            </div>
            <div class="col-2 border-bottom border-secondary">
                <button class="btn btn-danger pagination_btn mt-1">Eliminar</button>
                <button class="btn anadir pagination_btn mt-1 ml-3">Modificar</button>
            </div>
        </div>
        <div class="row mt-3 justify-content-end">
            <div class="col-2">
                <button class="btn nuevojuego pagination_btn mt-1 mr-5">Añadir categoría</button>
            </div>
        </div>
    </div>
</div>
