<div class="modal fade" id="login">
    <div class="modal-dialog">
      <div class="modal-content caratula w-100">
        <div class="modal-header contenidologin">
          <h3 class="modal-title text-white">Iniciar sesión</h3>
          <button type="button" class="close rounded-circle" id="cerrarlogin" data-dismiss="modal"><span class="icono-cross"></span></button>
        </div>
        <div class="modal-header contenidologin">
          <form role="form" (ngSubmit)="loginUsuario()" #loginForm="ngForm" id="loginForm">
            <div *ngIf="errorlogin" class="bg-danger alert-dismissible fade show">
              <p>{{notificarError.title}}</p>
            </div>
            <div class="form-group">
                <label name="email" class="text-white">Correo electrónico</label>
                <input type="text" [(ngModel)]="usuario.email" #correo="ngModel" class="form-control" placeholder="example@correo.es" name="email" id="email" required/>
                <label class="mt-3 text-white" name="password">Contraseña</label>
                <input type="password" [(ngModel)]="usuario.password" #password="ngModel" class="form-control" placeholder="Contraseña" name="password" id="password" required/>
                <button type="submit" form="loginForm" class="btn btn-warning btn-block pagination_btn">Iniciar sesión</button>
              </div>
          </form>
        </div>
        <div class="modal-footer contenidologin w-100">
            <button type="button" class="btn btn--transparent btn--font-12 menu-icon ion-navicon-round list-inline-item d-flex flex-row-reverse botonlogin" data-toggle="modal" data-target="#signin">
                <div class="list-inline-item float-right color-icons footercarrito"></div>
                <p class="list-inline-item float-right text-white px-2 mx-1 mt-1 mb-0 interiorbotonlogin" data-dismiss="modal">Regístrate</p>
            </button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="signin">
    <div class="modal-dialog">
      <div class="modal-content caratula w-100">
        <div class="modal-header contenidologin">
          <h3 class="modal-title text-white">Regístrate ahora</h3>
          <button type="button" class="close rounded-circle" data-dismiss="modal"><span class="icono-cross"></span></button>
        </div>
        <div class="modal-header contenidologin">
          <form role="form" (ngSubmit)="signinUsuario()" #signinForm="ngForm" id="signinForm">
            <div *ngIf="errorlogin"class="warning alert-warning alert-dismissible fade show">
              <p>{{notificarError.title}}</p>
            </div>
            <div class="form-group">
                <label name="correo2" class="text-white">Correo electrónico</label>
                <input type="text" [(ngModel)]="usuarioregistrar.email" class="form-control" placeholder="example@correo.es" name="email2" id="email2" required/>
                <label name="nombre2" class="text-white">Nombre</label>
                <input type="text" [(ngModel)]="usuarioregistrar.nombre" class="form-control" name="nombre2" id="nombre2" required/>
                <label name="apellidos" class="text-white">Apellidos</label>
                <input type="text" [(ngModel)]="usuarioregistrar.apellidos" class="form-control" name="apellidos" id="apellidos" required/>
                <label name="direccion" class="text-white">Dirección</label>
                <input type="text" [(ngModel)]="usuarioregistrar.direccion" class="form-control" placeholder="Calle El Ejemplo, 25" name="direccion" id="direccion" required/>
                <label class="mt-3 text-white" name="password">Contraseña</label>
                <input type="password" [(ngModel)]="usuarioregistrar.password" class="form-control" name="password" id="password" required/>
                <label class="mt-3 text-white" name="password3">Repite la contraseña</label>
                <input type="password" [(ngModel)]="repitecontrasena" class="form-control" id="password3" required/>
                <button type="submit" form="signinForm" class="btn btn-warning btn-block pagination_btn">Regístrate</button>
              </div>
          </form>
        </div>
        <div class="modal-footer contenidologin">
            <button type="button" class="btn btn--transparent btn--font-12 menu-icon ion-navicon-round list-inline-item d-flex flex-row-reverse botonlogin" data-toggle="modal" data-target="#login">
                <div class="list-inline-item float-right color-icons footercarrito"></div>
                <p class="list-inline-item float-right text-white px-2 mx-1 mt-1 mb-0 interiorbotonlogin" data-dismiss="modal">Iniciar sesión</p>
            </button>
        </div>
        <div *ngIf="registroexitoso" class="modal-header contenidologin">
          <div class="modal-header contenidologin">
            <p>Registrado con exito!</p>
          </div>
        </div>
      </div>
    </div>
</div>