<div class="col-9 contenido float-right mt-5">
    <h2 class="mr-5 mt-4"><span class="icono-tag mr-3"></span>Categorías</h2>
    <p class="text-secondary mb-3">Estas son las categorías de las que disponemos en nuestra página</p>

    <div class="row">
        <div class="col-md-2 ml-2 mr-2 mt-4">
            <div class="caratula caratulaimagen" style="background-image: url('../../../assets/categoria.jpg');">
                <div class="caratula align-items-center text-center d-flex justify-content-center">
                    <h5 class="text-center">Acción</h5>
                </div>
            </div>
        </div>
    </div>
</div>